body{
    margin:0;
    height: 150vh;
}
article{
    width:80%;
    margin: 0 auto;
}
.arrow{
    color: white;
    background-color: black;
    border-radius: 50%;
    width:30px;
    line-height: 30px;
    text-align: center;
    position:fixed;
    right:35px;
    bottom:35px;
    font-family:arial;
    z-index:1;
    transition: 0.2s linear;
}
nav{
    position: fixed;
    left:0;
    bottom:-270px;
    width:100%;
    height:300px;
    background-color: black;
    transition: 0.2s linear;
}
nav.on{
    bottom:0;
}
.arrow.on{
    bottom:335px;
    transform:rotate(180deg);
}